[submodule "fullstack-challenges-04-Rails-mister-cocktail-specs"]
	path = fullstack-challenges-04-Rails-mister-cocktail-specs
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-mister-cocktail-specs.git
