<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://wallpaperstream.com/wallpapers/full/cocktails-and-drinks/Nightlife-Cocktail-Bar-Drink-HD-Wallpaper.jpg');">
  <div class="banner-content">
    <h1>Mr.Cocktail</h1>
    <p>The best drinks made by the best people</p>
    <div class="btn btn-primary">
    <%= link_to 'Create your own', new_cocktail_path, :class => "btn" %>
  </div>
  </div>
</div>
