<div class="navbar-wagon">
  <h2 class="cocktail_navbar"><%= link_to root_path do %>
    Mr.Cocktail<i class="fas fa-cocktail"></i></h2>
  <% end %>
  <h4 class="new_cocktail_nav"><%= link_to new_cocktail_path do %>Add <i class="fas fa-plus-circle"></i></h4>
  <% end %>
</div>
